{% extends "base.html" %}

<!-- Injects window title into the page -->
{% block title %}
Account
{% endblock %}

<!-- Injects h2 title into the page -->
{% block pageheader %}
Welcome to your account {{current_user.first_name}}
{% endblock %}

<!-- Injects content into the page -->
{% block content %}
<ul class="collapsible">
    <li>
        <!-- Email section -->
        <div class="collapsible-header"><i class="material-icons"></i>Account Email</div>
        <div class="collapsible-body">
            <!-- Current Email -->
            <form action="{{url_for('routes.email_change', current_user_id=current_user.id) }}" id="email-change" class="col s12" method="POST">
                <div class="row">
                    <div class="input-field col s6 offset-s3 center-align">
                        <strong>Current email: {{current_user.email}}</strong>
                    </div>
                    <!-- Change Email -->
                    <div class="input-field col s6 offset-s3 center-align">
                        <input type="email" name="new-email" class="validate" required>
                        <label class="active" for="email">New email</label>
                        <!-- Modal Trigger -->
                        <a class="waves-effect waves-light btn modal-trigger black-text" href="#modal1">Change Email</a>
                    </div>

                    <!-- Modal Structure -->
                    <div id="modal1" class="modal">
                        <div class="modal-content">
                            <strong>Are you sure?</strong>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn red darken-2">Submit</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </li>
    <!-- Change Password -->
    <li>
        <div class="collapsible-header"><i class="material-icons"></i>Password</div>
        <div class="collapsible-body">
            <form action="{{url_for('routes.password_change', current_user_id=current_user.id) }}" id="password-change" class="col s12" method="POST">
                <div class="row">
                    <div class="input-field col s6 offset-s3 center-align">
                        <input type="password" name="old-password" class="validate" required>
                        <label class="active" for="old-password">Old password</label>
                    </div>
                    <div class="input-field col s6 offset-s3 center-align">
                        <input type="password" name="new-password" class="validate" required>
                        <label class="active" for="new-password">New password</label>
                        <!-- Modal Trigger -->
                        <a class="waves-effect waves-light btn modal-trigger black-text" href="#modal2">Change Password</a>

                    </div>

                    <!-- Modal Structure -->
                    <div id="modal2" class="modal">
                        <div class="modal-content">
                            <strong>Are you sure?</strong>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="modal-close waves-effect btn red darken-1">Confirm</button>
                        </div>
                    </div>
            </form>
        </div>
    </li>
    <!-- Delete Account -->
    <li>
        <div class="collapsible-header"><i class="material-icons"></i>Delete Account</div>
        <div class="collapsible-body">
            <form action="{{url_for('routes.delete_user', current_user_id=current_user.id) }}" id="delete-account" class="col s12" method="POST">
                <div class="row">
                    <div class="input-field col s6 offset-s3 center-align">
                        <input type="email" name="email" class="validate" required>
                        <label class="active" for="email">Email</label><br>
                        <p><strong>To delete your account, please confirm your email address!</strong></p><br>
                        <!-- Modal Trigger -->
                        <a class="waves-effect waves-light btn modal-trigger black-text" href="#modal3">Delete Account</a>

                    </div>

                    <!-- Modal Structure -->
                    <div id="modal3" class="modal">
                        <div class="modal-content">
                            <strong>Are you sure?</strong>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="modal-close waves-effect btn red darken-1">Confirm</button>
                        </div>
                    </div>
            </form>
        </div>
    </li>
</ul>
{% endblock %}