{% extends "base.html" %}

<!-- Injects window title into the page -->
{% block title %}
Account
{% endblock %}

<!-- Injects h2 title into the page -->
{% block pageheader %}
Your Recipes
{% endblock %}

<!-- Injects content into the page -->
{% block content %}

<!-- Display user recipes on site -->

<!-- Form to add a recipe -->
<ul class="collapsible">
    <li>
        <div class="collapsible-header"><i class="material-icons"></i>Your recipes</div>
        <div class="collapsible-body">
            <div class="carousel carousel-slider center">
                <div class="carousel-fixed-item center">
                  <a class="btn waves-effect white grey-text darken-text-2">button</a>
                </div>
                <div class="carousel-item red black-text" href="#one!">
                  <h2>First Panel</h2>
                  <p class="white-text">This is your first panel</p>
                </div>
                <div class="carousel-item amber black-text" href="#two!">
                  <h2>Second Panel</h2>
                  <p class="white-text">This is your second panel</p>
                </div>
                <div class="carousel-item green black-text" href="#three!">
                  <h2>Third Panel</h2>
                  <p class="white-text">This is your third panel</p>
                </div>
                <div class="carousel-item blue black-text" href="#four!">
                  <h2>Fourth Panel</h2>
                  <p class="white-text">This is your fourth panel</p>
                </div>
              </div>
        </div>
    </li>
    <li>
        <div class="collapsible-header"><i class="material-icons"></i>New Recipe</div>
        <div class="collapsible-body">
            <div class="row">
                <form class="col s12">
                    <!-- Row to get name and time -->
                    <div class="row">
                        <div class="input-field col s8">
                            <input name="recipe-name" type="text" class="validate">
                            <label for="recipe-name">Recipe Name</label>
                        </div>
                        <div class="input-field col s3 offset-s1">
                            <input id="recipe_time" type="number" class="validate">
                            <label for="recipe_time">Time (Minutes)</label>
                        </div>
                    </div>
                    <!-- Row to get ingredients and steps -->
                    <div class="row">
                        <div class="input-field col s6">
                            <input name="recipe-ingredients" type="text" class="validate">
                            <label for="recipe-ingredients">Recipe Ingredients</label>
                        </div>
                        <div class="input-field col s6">
                            <input id="recipe_steps" type="text" class="validate">
                            <label for="recipe_steps">Recipe Steps</label>
                        </div>
                    </div>
                    <!-- Image upload and submit button -->
                    <div class="row">
                        <div class="input-field col s9">
                            <input name="recipe-image" type="text" class="validate">
                            <label for="recipe-image">Image link (Please use tinypic to generate link)</label>
                        </div>
                        <div class="input-field col s2 offset-s1">
                            <button class="btn" type="submit">Submit Recipe</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </li>
</ul>
{% endblock %}