{% extends "base.html" %}

<!-- Injects window title into the page -->
{% block title %}
Admin
{% endblock %}

<!-- Injects h2 title into the page -->
{% block pageheader %}
Grant/Remove Admin Privileges
{% endblock %}

<!-- Injects content into the page -->
{% block content %}

<form method='POST' action="{{url_for('routes.toggle_admin') }}" class="center-align">
    <div class="row">
        <!-- Enter user email -->
        <div class="input-field col s12 m12 l8">
            <input id="user-email" name="user-email" type="email" class="validate">
            <label class="black-text" for="user-email">User Email</label>
        </div>
        <!-- Provides tickbox, tick for priveledges, untick to remove -->
        <div class="input-field col s12 m12 l3 offset-l1">
            <label>
                <input name="checkbox" type="checkbox" class="filled-in" checked="checked">
                <span class="black-text">Tick/Untick priveleges</span>
            </label>
        </div>
    </div>
    <!-- Submit to database -->
    <div class="row">
        <div class="input-field col s12"></div>
        <button type="submit" class="btn black-text">Submit</button>
    </div>
</form>
<div class="admin-list center-align">
    <h2>Current Admins</h2>
    <ul>
        {% for name in current_admin_names %}
            <li>{{name}}</li>
        {% endfor %}
    </ul>
</div>

{% endblock %}