{% extends "base.html" %}

<!-- Injects window title into the page -->
{% block title %}
Admin
{% endblock %}

<!-- Injects h2 title into the page -->
{% block pageheader %}
Admin
{% endblock %}

<!-- Injects content into the page -->
{% block content %}

<form method='POST' action="toggle-admin" class="center-align">
    <h2>Current Users</h2>
    <div class="row">
        <!-- Enter user email -->
        <div class="input-field col s8">
            <input name="user-email" type="email" class="validate">
            <label for="user-email">User Email</label>
        </div>
        <!-- Provides tickbox, tick for priveledges, untick to remove -->
        <div class="input-field col s3 offset-s1">
            <label>
                <input type="checkbox" class="filled-in" checked="checked" />
                <span>Tick/Untick priveledges</span>
            </label>
        </div>
    </div>
    <!-- Submit to database -->
    <button type="submit" class="btn">Submit</button> 
  </form>

{% endblock %}