<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {% block title %}Home {% endblock %}</title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <!-- Navbar -->
    <nav>
        <div class="nav-wrapper teal darken-2">
            <a href="#!" class="brand-logo">Mac's Cookbook</a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons"><i class="fa fa-bars" aria-hidden="true"></i></i></a>
            <ul class="right hide-on-med-and-down">
                <li><a href="{{ url_for('auth.login' )}}">Login <i class="fa fa-lock" aria-hidden="true"></i>
                </a></li>
                <li><a href="{{ url_for('auth.signup' )}}">Register <i class="fa fa-plus" aria-hidden="true"></i>
                </a></li>
            </ul>
        </div>
    </nav>

    <!-- Hamburger Menu on mobile devices -->
    <ul class="sidenav" id="mobile-demo">
        <li><a href="{{ url_for('auth.login' )}}">Login <i class="fa fa-lock black-text" aria-hidden="true"></i>
        </a></li>
        <li><a href="{{ url_for('auth.signup' )}}">Register <i class="fa fa-plus black-text" aria-hidden="true"></i>
        </a></li>
    </ul>

    <main class="container">

        <h2 class="center-align">{% block pageheader %}Base{% endblock %}</h2>
        {% block content %}
    
        {% endblock %}

    </main>

    <footer class="teal darken-2 hide-on-med-and-down footer-copyright">
        <div class="white-text footer-text">
            <h6>Made for educational purposes only</p>
        </div>
    </footer>

    <!-- Materialize scripts, all content to be above here -->

    <!-- JQuery script to load materialize -->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.sidenav').sidenav();
        });
    </script>
</body>

</html>