{% extends "base.html" %}

<!-- Injects window title into the page -->
{% block title %}
Recipes
{% endblock %}

<!-- Injects h2 title into the page -->
{% block pageheader %}
Edit recipe
{% endblock %}

<!-- Injects content into the page -->
{% block content %}
<!-- Edits recipe -->
<ul class="collapsible">
    <li>
        <div class="collapsible-header"><i class="material-icons"></i>Edit Recipe</div>
        <div class="collapsible-body">
            <div class="row">
                <form class="col s12" method="POST" action="{{url_for('routes.edit_recipe', recipe_id=recipe.id) }}">
                    <!-- Row to get name and time -->
                    <div class="row">
                        <div class="input-field col s8">
                            <input id="recipe-name" name="recipe-name" type="text" class="validate" value="{{recipe.name}}">
                            <label for="recipe-name" class="black-text">Recipe Name</label>
                        </div>
                        <div class="input-field col s3 offset-s1">
                            <input id="recipe-time" name="recipe-time" type="number" class="validate" value="{{recipe.recipe_time}}">
                            <label for="recipe-time" class="black-text">Time (Minutes)</label>
                        </div>
                    </div>
                    <!-- Row to get ingredients and steps -->
                    <div class="row">
                        <div class="input-field col s6">
                            <input id="recipe-ingredients" name="recipe-ingredients" type="text" class="validate" value="{{recipe.recipe_ingredients}}">
                            <label for="recipe-ingredients" class="black-text">Recipe Ingredients</label>
                        </div>
                        <div class="input-field col s6">
                            <input id="recipe-steps" name="recipe-steps" type="text" class="validate" value="{{recipe.recipe_steps}}">
                            <label for="recipe-steps" class="black-text">Recipe Steps</label>
                        </div>
                    </div>
                    <!-- Image upload and submit button -->
                    <div class="row">
                        <div class="input-field col s9">
                            <input id="recipe-image" name="recipe-image" type="text" class="validate" value="{{recipe.recipe_image}}">
                            <label for="recipe-image" class="black-text">Image link (Please use tinypic to generate link)</label>
                        </div>
                        <div class="input-field col s2 offset-s1">
                            <button type="submit" class="btn black-text">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </li>
</ul>
{% endblock %}