{% extends "base.html" %}

<!-- Injects window title into the page -->
{% block title %}
Home
{% endblock %}

<!-- Injects h2 title into the page -->
{% block pageheader %}
Home
{% endblock %}

<!-- Injects content into the page -->
{% block content %}

<!-- Display all recipes on site -->
<!-- Display user recipes on site -->
<div class="row">
    {% for recipe in recipes %}
      <div class="col s12 m6 l4">
        <div class="card" style="background-image:url('{{recipe.recipe_image}}'); background-size: cover;">
          <div class="card-content white-text center-align container card-container">
              <span class="card-title">{{recipe.name}}</span>
              <p>{{recipe.recipe_time}} Minutes</p>
              <p>{{recipe.recipe_ingredients}}</p>
              </br>
              <a href="{{ url_for('routes.expand_recipe', recipe_id=recipe.id) }}" class="btn green darken-1 black-text"><strong>View</strong></a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
{% endblock %}